<mat-toolbar color="primary">  
  <h1>  
    <span class="titleHead">{{ title }}</span>
  </h1>  
  <button mat-button routerLink="/about">About</button>
  <button mat-button routerLink="/product">Product</button> 
  <button mat-button routerLink="/manage-users">Manage Users</button>
  <button mat-button routerLink="/parent-child">Parent-Child</button>
  <button mat-button routerLink="/mat">Material</button>
  <button mat-button routerLink="/semanctic-ui">Semanctic-UI</button>
  
  
  
</mat-toolbar>
<router-outlet></router-outlet>